@charset "UTF-8";

html * {
  padding: auto;
  margin: auto;
}
html body.garupa-body {
  /* None */
}
html body.garupa-body nav.garupa-nav {
  width: 100vw;
  height: 64px;
  padding-left: 16px;
  background-color: #E5004F;
  color: #FFFFFF;
  text-align: left;
  justify-content: flex-start;
  align-items: center;
}
html body.garupa-body nav.garupa-nav .garupa-nav_title {
  display: flex;
  height: 64px;
}

@media (prefers-color-scheme: light) {
  html .enable-darkmode {
    background-color: #FFFFFF;
    color: #000000;
  }
}
@media (prefers-color-scheme: dark) {
  html .enable-darkmode {
    background-color: #000000;
    color: #FFFFFF;
  }
}
