html * {
  padding: auto;
  margin: auto;
}
html body.garupa-body {
  /* None */
}
html body.garupa-body nav.garupa-nav {
  width: 100vw;
  height: 64px;
  background-color: #E5004F;
  color: #FFFFFF;
}

@media (prefers-color-scheme: light) {
  background-color: #FFFFFF;
  color: #000000;
}

@media (prefers-color-scheme: dark) {
  background-color: #000000;
  color: #FFFFFF;
}
